*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

--cor-fundo-header:#000000;
--fonte1: Verdana, Geneva, Tahoma, sans-serif;
--fonte2: 'Passion One', cursive;
--fonte3: 'Sriracha', cursive;
}
body{

    background-image: url(../imagens/wallpaper002.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

header{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--cor-fundo-header);
    color: white;
    padding: 50px;
   
}
header h1{
    font-weight: 900;
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 5vw;

}
header p a,header p{

    text-decoration: none;
    color: white;
    font-family:var(--fonte1) ;

}
main{

    font-family: var(--fonte3);
   
}
main div{

    background-color: white;
}
main p{
    font-style:italic;
    font-size: clamp(0.1rem, 0.7rem + 2vw, 4rem);
    font-weight: 600;
   
}
main .paragrafo{
padding-left: 30px;
padding-top: 50px;
padding-bottom:50px;

}
main .para2 div,.para4 div{
    
    width: 50vw;
    padding: 10px 0px 10px 0;
    background-color: #000000cc;
    color: white;
}
main .para2, .para4 {
  
    background-color: rgba(255, 255, 255, 0);
    box-shadow: inset 12px 12px 25px black;
}

footer{

background-color: #000000;
padding: 10px;
text-align: center;
color: white;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;

}