*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

table{

    border-collapse: collapse;
    width: 200px;
    height: 200px;


}
td{
    text-align: center;
    border: 2px solid black;
    padding: 5px;



}