*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
background-image: linear-gradient(to top,lightgreen,green,rgb(0, 78, 0));
background-size: 1000% 1000%;
animation: passagem 2s alternate infinite;

}
h1{

    text-decoration: underline;


}

table{
    margin: 15px;
    border-collapse: collapse;
    width: 300px;

}

caption{

    background-image: linear-gradient(to right,lightgreen,green,rgb(0, 78, 0));
    padding: 5PX;
    font-weight: bolder;
    background-size: 1000% 1000%;
    animation: passagem 2s alternate infinite;

}

@keyframes passagem {
    0%{background-position: 0% 0%;}
    100%{background-position: 100% 100%;}
}

tbody tr:nth-child(2n){

    background-color: lightgray;

}
tbody tr:nth-last-child(2n){

    background-color: white;

}
thead tr th{
    
    position: sticky;
    top: -1px;
    background-color: cadetblue;

}

td,th{

    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    
}

thead,tfoot{

    background-color: cadetblue;
    color: white;
}
.numero{

    text-align: right;
    font-size: medium;
}
